*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
:root{
    --themeBlue: #187CEA;
}
.parent{
    width: 100%;
    min-height: 100%;
}
/* .rollMenu{
    background-color: #187cea80 !important;
    background-color: #92c6ff !important;
    color: white !important;
    text-shadow: 2px 2px 4px #187cea;
    filter: blur(2);
} */
.rollMenu li{
    border-radius: 5px;
}
.rollMenu li:hover{
    background-color: #007bff1b;
}

/* left block styling */
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    box-shadow: -9px 0px 20px 0px black;
    color: rgb(255, 255, 255);
}
.leftBrandMenu > img{
    width: 140px;
}
.right{
    height: 100vh;
    flex-grow: 1;
    background-color: #f6f6f6;
}
.menu{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: none;
}
/* Made for on hover animation of menu*/
/* .menu{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: none;
}
.lineBlock{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 3px;
}
.menu_block{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.lines{
    width: 20px;
    height: 3.5px;
    background-color: rgb(0, 0, 0);
    border-radius: .8px;
}
.menu_block2{
    width: 30px;
    height: 30px;
    background: url(../assets/equiMenu.gif);
    background-position: center;
    background-size: 200px;
    transform: rotate(90deg);
    display: none;
} */

.leftOptions > a{
    color: rgb(255, 255, 255);
}
.selected{
    /* background-color: rebeccapurple; */
        background-color: var(--themeBlue);
        color: white;
}
.OptionCtn:hover{
    /* background-color: #0091ff8c; */
    background-color: #187eea92;
    color: white;
}
.selected:hover{
    /* background-color: #006bbc; */
    background-color: var(--themeBlue);
}
.progress{
    height: 8px;
}
.progress-bar{
    background-color: var(--themeBlue);
}
.profile,.profile2,.AccessIconLock{
    width: 30px;
    height: 30px;
    background-color: var(--themeBlue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.searchinp{
    width: 20vmax;
}
.contentCtn{
    width: 100%;
    /* height: 100%; */
}
.viewBtn{
    border-radius: 100px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.447);
}
.viewIcon > i{
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.selectedIcon{
    /* background-color: #0090ff; */
    background-color: var(--themeBlue);
    color: white;
}
.optionsWrapper{
    display: none;
}
.optionIcons:hover{
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    background-color: #007bff44;
}
.optionIcons:active{
    background-color: #007bff8a;
}
.path{
    font-family: Poppins;
    /* color: var(--themeBlue); */
    color: #205895;
    opacity: 1;
}
.left-collapse{
    z-index: 9999999999 !important;
}
.folderCtn{
    overflow: scroll;
}
.folderCtn::-webkit-scrollbar{
    display: none;
}
.folderWrapper{
    gap: .5rem !important;
}
.folderDiv i{
    font-size: 20px;
}
.folderDiv{
    position: relative;
    min-width: 15rem;
    border: 1px groove rgba(128, 128, 128, 0.338);
}
.folderDiv::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}
.folderDiv:hover{
    background-color: #007bff14;
}
.folderDivSelected{
    will-change: background-color;
    background-color: #007bff44;
}
.folderDiv p{
    user-select: none;
    white-space: nowrap;
}
.grid{
    width: 15rem;
}
.list{
    width: 100%;
}
.historyTracker i{
    cursor: pointer;
}
.historyTracker i:hover{
    border-radius: 50%;
    background-color: #007bff44;
}
.fileWrapper{
    gap: 1rem !important;
}
.fileWrapper i{
    color: var(--themeBlue);
}
.fileIconCtn i{
    font-size: 4rem; 
}

.fileFooter small{
    font-family: Poppins;
    white-space: nowrap;
    width: 16rem;
    overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

/* modal styling for sharing */
.profile2{
    width: 35px;
    height: 35px;
}
.AccessEmailPeopleDiv{
    max-height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.AccessEmailPeopleDiv::-webkit-scrollbar-thumb{
    background: #187eea76;
}
.AccessEmailPeopleDiv::-webkit-scrollbar{
    width: 5px;
}
.AccessEmailPeopleDiv::-webkit-scrollbar-thumb:hover{
    background: #187eeaec;
}
.AccessIconLock{
    background-color: #0000002b;
    color: black;
}
.copyLink:hover{
    background: #00000013;
    color: var(--themeBlue);
}
/* .contentLeft{
    flex: 3;
} */
/* width: 280px; */
/* .contentRight{
    background-color: rgb(255, 255, 255);
} */
@media only screen and (max-width: 600px) {
    .menu{
        display: block;
    }
    .left{
        display: none;
    }
    .navbar-brand > span{
        display: none;
    }
}


@media only screen and (max-width: 721px){
    .folderDiv i{
        font-size:16vw;
    }
    .folderDiv{
        border: none;
        flex-direction: column;
        min-width: 18vmax;
    }
    .grid{
        width: 18vmax;
    }

    .list{
        width: 100%;
        flex-direction: row;
        align-items: end;
        border: 1px groove rgba(128, 128, 128, 0.338);
    }
    .list i{
        font-size: 9vw;
    }
    .folderWrapper{
        gap: 1rem !important;
    }
}

/* @media only screen and (max-width: 900px){
    .contentRight{
        width: 0;
    }
} */