.nav {
  width: 100%;
  font-family: "Poppins";
  height: 3vh;
}
.nav .logo h6 {
  font-family: "Roboto";
  font-size: 1.1em;
}
.auth button {
  padding: 0.3vmax 1vmax;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
}
.nav .links h6 {
  font-weight: 700;
  color: rgb(59, 59, 59);
}
.auth button:nth-child(2) {
  background-color: #c3e5ff;
}
.btn{
  background-color: #c3e5ff;
}
li{
  margin-left: 4vmax;
}
.after{
  display: none;
}
.nav-link:focus, .nav-link:hover{
  color: #0090ff !important;
}
@media only screen and (max-width: 767px) {
  li{
    margin-left: 0;
  }
  .before{
    display: none;
  }
  .after{
    display: block;
  }
  .btn{
    background-color: rgba(255, 0, 0, 0);
    text-align: left;
  }
}